In [7]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing

### load data

In [131]:
train = pd.read_csv('Downloads/0000000000002429_training_titanic_x_y_train.csv')
xtest = pd.read_csv('Downloads/0000000000002429_test_titanic_x_test.csv')

In [132]:
train.shape , xtest.shape

((668, 11), (223, 10))

In [133]:
xtrain = train.iloc[:,0:10]
ytrain = train.iloc[:,10:11]

In [134]:
ytrain.head()

   Survived
0         1
1         0
2         0
3         0
4         0

In [135]:
temp = np.vstack((xtrain.values , xtest.values))
temp = pd.DataFrame(temp , columns = xtrain.columns)
temp.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29,1,0,228414,26,NaN,S
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.05,NaN,S
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39,0,0,250655,26,NaN,S
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29,0,4,349909,21.075,NaN,S
4,3,"Sutehall, Mr. Henry Jr",male,25,0,0,SOTON/OQ 392076,7.05,NaN,S

In [136]:
temp.shape

(891, 10)

In [137]:
# drop cabin because of a lot ofo NaN values and name because it's not important

In [138]:
del temp['Cabin']
del temp['Name']

In [139]:
# convert sex to categorical

In [140]:
temp.Sex.unique()

array(['female', 'male'], dtype=object)

In [141]:
m_ind = temp[temp['Sex'] == 'male'].index
temp.loc[m_ind , 'Sex'] = 1
f_ind = temp[temp['Sex'] == 'female'].index
temp.loc[f_ind , 'Sex'] = 0

In [142]:
#  del ticket

In [143]:
del temp['Ticket']

In [144]:
#  replace  NaN age with mean values

In [145]:
avg_age = temp['Age'].mean()

In [146]:
temp['Age'].median()

28.0

In [147]:
temp['Age'].fillna(temp['Age'].median() , inplace = True)

In [148]:
temp['Embarked'].fillna((temp['Embarked'].mode())[0] ,inplace =True)

In [149]:
c = 0
for i in temp['Embarked'].unique():
    ind = temp[temp['Embarked'] == i].index
    temp.loc[ind , 'Embarked'] = c
    c = c + 1

In [150]:
temp.head()

  Pclass Sex   Age SibSp Parch    Fare  Embarked
0      2   0  29.0     1     0      26         0
1      3   1  28.0     0     0    8.05         0
2      2   1  39.0     0     0      26         0
3      3   0  29.0     0     4  21.075         0
4      3   1  25.0     0     0    7.05         0

In [151]:
temp.shape

(891, 7)

###  split data again

In [152]:
xtrain =temp.iloc[0:668, :]
xtest = temp.iloc[668:, :]
# ((668, 11), (223, 10))

In [153]:
xtrain = xtrain.values
xtest = xtest.values

In [154]:
ytrain = ytrain.values

In [155]:
ytrain.shape

(668, 1)

In [156]:
yt = ytrain

In [157]:
yt = yt.reshape(668,)

### logistic regression

In [158]:
model = LogisticRegression(solver ='liblinear')
model.fit(xtrain , yt)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [159]:
model.score(xtrain ,yt)

0.7934131736526946

In [160]:
ytest = model.predict(xtest)

In [161]:
ytest.shape

(223,)

In [162]:
ytest

array([0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0], dtype=int64)

In [163]:
np.savetxt('Downloads/titanic_logreg_1.csv', ytest)